## Adquisición y preprocesamiento de la información

<table>
    <tr>
      <td>Grado en Ingeniería de Datos e Inteligencia Artificial - Facultad de Informática - UCM
      </td>
      <td>
      <img src="https://biblioteca.ucm.es/data/cont/media/www/pag-88746//escudo.jpg"  width=50/>
      </td>
     </tr>
</table>




### Práctica 

No olvidéis los dos nombres de los miembros del grupo

Nombre1:

Nombre2:

#### Carga de datos 

Ejecutar el siguiente código (no necesitamos entenderlo, pero lo haremos en breve)

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/hadley/data-baby-names/master/baby-names.csv")

nombresSerie = df.name
nombres = df.name.values
sexo = df.sex.values
año = df.year.values

Solo debemos saber que:

`nombresSerie` representa los nombres de niños incluyendo un índice con la posición (hay 258000 niños, aunque los nombres se repiten, lógicamente)

In [2]:
nombresSerie

0             John
1          William
2            James
3          Charles
4           George
            ...
257995    Carleigh
257996       Iyana
257997      Kenley
257998      Sloane
257999     Elianna
Name: name, Length: 258000, dtype: object

`nombres`, `sexo`, `año` son los nombres, sexo, y año de nacimiento de los niños, cada uno como un array numpy

In [3]:
nombres

array(['John', 'William', 'James', ..., 'Kenley', 'Sloane', 'Elianna'],
      dtype=object)

In [4]:
sexo

array(['boy', 'boy', 'boy', ..., 'girl', 'girl', 'girl'], dtype=object)

In [5]:
año

array([1880, 1880, 1880, ..., 2008, 2008, 2008], dtype=int64)

**Pregunta 1**  Escribe código para determinar cuántos niños (sexo 'boy') hay

In [6]:
## Solución
(sexo=='boy').sum()

129000

**Pregunta 2** Escribe código para determinar cuántos nacidos con posterioridad al año 2000 (es decir del año 2001 inclusive en adelante)

In [7]:
(año>2000).sum()

16000

**Pregunta 3**  Escribe código para determinar cuántos nacidos con posterioridad al año 2000 y que sean niñas 'girl'

In [24]:
tras2000 = año>2000
chica = sexo=='girl'
(tras2000 & chica).sum()

8000

**Pregunta 4**
¿cúantos nombres diferentes (sin contar apariciones repetidas) hay que sean a la vez de chico y chica?

Nota: usar conjuntos (fijarse en la solución de la práctica 1)

In [9]:
len(set(nombres[(sexo=='boy')]).intersection(set(nombres[(sexo=='girl')])))

673

**Pregunta 5**

Crear un nuevo ndarray (array de numpy) `nombresB` que sea igual que `nombres` salvo porque el nombre `George` ha sido sustituido por `Bertoldo`

In [23]:
# Solución
nombresB = nombres.copy()
nombresB[nombres=="George"] = "Bertoldo"

In [11]:
# para probar el ejercicio; no modificar este código; deben salir 205
print((nombresB=="Bertoldo").sum())

205

**Pregunta 67**
Vamos a tomar una muestra aleatoria de `nombresSerie`; para ello utilizaremos el método [sample](https://pandas.pydata.org/docs/reference/api/pandas.Series.sample.html) de la clase `Series`. En particular queremos una muestra (sin reemplazmaiento) con el 40% de los datos (mirar la documentación de `sample` un parámetro se encarga de indicar la proporción de filas que devuelve). Llamar al resultado `muestra`

In [12]:
# solución
muestra = nombresSerie.sample(frac=0.4)

In [13]:
# no tocar este código, es para probar; debe salir la lista de nombres de la muestra con los índices desordenados
muestra

95720      Agustin
85613       Emilio
118253      Cooper
230545          Jo
2128          Noah
            ...
248185     Claudia
132671       Juana
205072    Kimberly
110233     Zachery
163856      Ardith
Name: name, Length: 103200, dtype: object

In [14]:
# no tocar este código, es para probar; debe salir la lista de nombres con los índices ahora ordenados; se veran "huecos"
muestra.sort_index()

3         Charles
7          Thomas
12         Walter
17          David
18          Louis
           ...
257986     Amaris
257990     Jamiya
257992     Laylah
257994       Diya
257998     Sloane
Name: name, Length: 103200, dtype: object

**Pregunta 7** 
Dentro de `muestra` queremos averiguar cuántos personas tienen nombre que acaba con `a`. Para contar el número de nombres que acaban con 'a' podemos utilizar la función dde `Series` [endswith](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.endswith.html). Usando esta función calcular el número de elementos de `muestra`que acaban en 'a'. Dejar el resultado (un número) en la variable `numas`

In [15]:
# Solución
numas = muestra.str.endswith('a').sum()

# no tocar esto, es para ver el resultado. Eso sí, intentad entender el código. 

print("Proporción de nombres que acaban en 'a'", numas/len(muestra))

Proporción de nombres que acaban en 'a' 0.20138565891472868

**Pregunta 8** Ya sabemos la proporción de nombres en la lista que acaban en 'a', pero querríamos hacerlo mejor distinguiendo por sexos, pero para ello primero tendremos que saber el sexo de cada elemento incluido en muestra; esto podemos hacerlo de forma muy fácil

In [16]:
sexomuestra = sexo[muestra.index]
sexomuestra

array(['boy', 'boy', 'boy', ..., 'girl', 'boy', 'girl'], dtype=object)

Es importante observar que en `sexomuestra` hay tantos elementos como en `muestra` y están en el mismo orden: el siguiente for muestra los 10 primeros nombres con su sexo

In [17]:
for i in range(10):
    print(muestra.values[i],sexomuestra[i])

Agustin boy
Emilio boy
Cooper boy
Jo girl
Noah boy
Millicent girl
Claire girl
Forest boy
Naomi girl
Verda girl


Ahora queremos obtener la proporción de  chicas en `muestra` cuyo nombre acaba en `a` y la proporción de chicos en `muestra`cuyo nombre acaba en 'a'. Dejaremos los resultados en dos variables, `pchicasa` y `pchicosa`

Pista:  usaremos `sexomuestra`, `muestra`, filtros, un cálculo de proporciones inspirado en el print de la pregunta anterior...

In [18]:
chico = sexomuestra=='boy'
chica = ~chico
acabaena = muestra.str.endswith('a')

pchicosa = (chico & acabaena).sum() / chico.sum()
pchicasa = (chica & acabaena).sum() / chica.sum()

# No cambiar
print(f"Proporción de chicos cuyo nombre acaba en 'a': {pchicosa}, y de chicas: {pchicasa} ")

Proporción de chicos cuyo nombre acaba en 'a': 0.016070251618656224, y de chicas: 0.3866005347386368

**Pregunta 9** Asumiendo que en 'sexo' solo hay dos valores, chico o chica, ¿Qué frase de la siguientes te parece más correcta al hablar de intentar deducir el sexo de la persona según si su nombre acaba en 'a' o no? Selecciona una opción y escribe una frase que explique tu respuesta

    a) El método parece útil para decidir con alta probabilidad  si es chico o chica a partir el nombre
    b) El método parece útil para asegurar con alta probabilidad que es chica si acaba en 'a'
    c) El método solo parece útil para asegurar con alta probabilidad  que es chico si no acaba en 'a'

Solución: b) porque la probabilidad de que sea chico acabando en 'a' es mínima

**Pregunta 10** 
Una forma intesante de dividir una Serie en 2 es la siguiente:
    
1) "Barajamos" los elementos de la Serie

2) Nos quedamos con los n primeros en una serie nueva y del n en adelante en otra

Utilizar este sistema para dividir la serie `nombresSerie` en dos valores de tipo Serie

In [22]:
# solución
n=100000
shuffle = nombresSerie.sample(frac=1)
train =  shuffle[:n]
test = shuffle[n:]

C:\Users\Rafa\AppData\Local\Temp\ipykernel_3336\121297023.py:4: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  train =  shuffle[:n]
C:\Users\Rafa\AppData\Local\Temp\ipykernel_3336\121297023.py:5: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  test = shuffle[n:]