<a href="https://colab.research.google.com/github/RafaelCaballero/APD/blob/main/codigo/practica0Sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table>
<tr>
<td><img src="https://raw.githubusercontent.com/RafaelCaballero/APD/refs/heads/main/img/logoAPD.png" width="150"></td>
<td><table><tr><td><h1>Práctica 0: solución</h1></td></tr>
           <tr><td><h3>Rafael Caballero Roldán</h3></td></tr></table></td>
<td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsPjCdm67xYS9AM7-dXQ46O23vaexAhnVJaQ&s" width="105"></td>
</tr>
</table>


### Práctica 0

No olvidéis los dos nombres de los miembros del grupo, editando la casilla siguiente

Nombre 1:

Nombre 2:

Ejecutar el siguiente código para asegurarse de que las bibliotecas que vamos a usar estar instaladas. En ocasiones conviene hacer "Kernel+Restart" tras la instalación para poder usarlas

**Ejercicio 1**
La lista `nombres` tiene nombres de personas y la lista `edades` sus edades. Añadir código para mostrar cada persona junto con su edad. Saldrá algo así

    Melibea 18
    Bertoldo 20
    Herminia 23
    Calixto 18
    Aniceto 21

In [ ]:
nombres = ["Melibea", "Bertoldo", "Herminia", "Calixto", "Aniceto"]
edades = [18,20,23,18,21]

## Solución
for i in range(len(nombres)):
    print(nombres[i],edades[i])

Melibea 18
Bertoldo 20
Herminia 23
Calixto 18
Aniceto 21

**Ejercicio 2** Ahora escribir código para mostrar solo el nombre de la persona de más edad (si hubiera varias con la misma edad máxima el de una de ellas)

Nota:

- `max(l)` devuelve el máximo elemento de una lista
- `l.index(v)`: devuelve la primera posición (valor de 0 a len(l)-1) en el que parece v dentro de la lista l

In [ ]:
# Solucion
max_value = max(edades) # valor máximo
max_index = edades.index(max_value) # posición en la que aparece
print(nombres[max_index])

Herminia

**Ejercicio 3** A partir de la listas `edades` y `nombres` queremos crear 4 listas: `edades20`, `nombres20` con las edades menores o iguales a 20 y sus nombres, y `edadesMasDe20`, `nombresMasDe20` con las edades y nombres de los que tienen más de 20 años

In [ ]:
# Solución
mayorde20 = [p for p,edad in enumerate(edades) if edad>20]
resto     = [p for p,edad in enumerate(edades) if edad<=20]

edades20 = [edades[p] for p in resto]
nombres20 = [nombres[p] for p in resto]

edadesMasDe20 = [edades[p] for p in mayorde20]
nombresMasDe20  = [nombres[p] for p in mayorde20]

**Ejercicio 4** La sucesión de fibonacci es: 1,1,2,3,5,8...cada número es la suma de los dos anteriores. Calcular la lista `fib`de los n primeros números de fibonnaci para n>=2 completando el siguiente código

In [ ]:
fib=[1,1] # partimos de los dos iniciales
n = 7 # este es el número de elementos que quiero calcular (2 ya están calculados, por eso siempre n>=2)

# Solución: completar el resto
for n in range(2,n):
    fib.append(fib[-1]+fib[-2])

# mostramos el resultado que para n=7 será [1, 1, 2, 3, 5, 8, 13]
print(fib)

[1, 1, 2, 3, 5, 8, 13]

**Ejercicio 5**
Mostrar los caracteres comunes que tienen 2 strings (las repeticiones no cuentan, por ejemplo en el ejemplo se debe mostrar 'a' y ' ')

In [ ]:
s1 = "calla ya"
s2 = "anda, anda"

# solución
set(s1).intersection(s2)

{' ', 'a'}

**Ejercicio 6**

Encontrar si todos los elementos de una lista `l1` aparecen en otra `l2` (no importa si hay repeticiones); por ejemplo con los valores de prueba debe mostrar True, pero si a l1 le añadimos por ejemplo 17 debe mostrar false

In [ ]:
l1 = [2,3,4,5]
l2 = [6,7,4,2,1,3,5]

# solucion
set(l1).issubset(set(l2))

True

**Ejercicio 7**

Escribir una función `coincidentes`que reciba como entrada dos listas `a` y `b`, que suponemos de la misma longitud, y cuente el número de valores comunes, donde comunes significa valores tal que para algún i, a[i]==b[i], es decir que son iguales y están en la misma posición

Nota: no nos preocupa nada la eficiencia, no hace falta salirse en cuanto se encuentra uno que ya no es igual

In [ ]:
# Solución; definir la función coincidentes
def coincidentes(a,b):
    # lsita de Trues y False
    compara = [a[i]==b[i] for i in range(len(a))]
    return sum(compara)


# para probar, no tocar
print(coincidentes([10,50,80],[10,60,80])) # 2 (posiciones 0 y 2)
print(coincidentes([10,50,80],[80,50,10])) # 1 (posición 1)
print(coincidentes([10,50,80],[80,60,10])) # 0

2
1
0

**Ejercicio 8** (difícil, solo para quien quiera ir más allá...)

Escribir una función `coincidentes2` que no solo devuelva el número de coincidentes, sino que también devuelva una lista de tuplas con las posiciones de estos coincidentes y sus valores. Por ejemplo

    print(coincidentes2([10,50,80],[10,60,80]))
    (2, [(0, 10), (2, 80)])

In [ ]:
# Solución; definir la función coincidentes2
def coincidentes2(a,b):
    # lsita de Trues y False
    compara = [a[i]==b[i] for i in range(len(a))]
    valores = [(i,a[i]) for i,c in enumerate(compara) if c]
    return sum(compara),valores

print(coincidentes2([10,50,80],[10,60,80]))

(2, [(0, 10), (2, 80)])

**Ejercicio 9** Dada una lista de números generos al azar como la siguiente

In [ ]:
import random
l = [random.randint(1,100) for n in range(10)]
print(l)

[1, 81, 85, 61, 12, 74, 31, 13, 61, 78]

Escribir un código para determinar si hay algún múltiplo de 5 en `l`. El código mostrará True si hy al menos un múltiplo de 5, y False en caso contrario

In [ ]:
# solucion
any([x%5==0 for x in l])

True

**Ejercicio 10**

Queremos conocer la edad de Bertoldo en el siguiente diccionario, agregar código para extraer este valor

In [ ]:
d = {'bertoldo': {'datos':{'nombreCompleto':' Bertoldo Peláez', 'edad':30} } }

# solucion
d["bertoldo"]["datos"]["edad"]

30

**Ejercicio 11**

Escribir una función `extrae`que dada una lista de posiciones `p` y otra con números `l`, devuelva una nueva lista con los elementos de `l` obtenidos al extraer los números indicados en las posiciones.

En el ejemplo:

    p = [4,1,8,10]
    l = [101,202,303,404,505,606,707,808,909,1001,1101,1102]
    extrae(l,p)

el resultado será [505, 202, 909, 1101], porque 505 ocupa la posición 4º de l, 202 la 1, 909 la 8ª, etc.

In [ ]:

# solución
def extrae(l,p):
    return [l[i] for i in p]

# para probar, no modificarlo
p = [4,1,8,10]
l = [101,202,303,404,505,606,707,808,909,1001,1101,1102]
extrae(l,p)

[505, 202, 909, 1101]

**Ejercicio 12**
Dada una lista de números enteros positivos `l` generar una lista de listas donde el elemento iésimo sea de la forma [1...l[i]].

Por ejemplo,  la salida esperada será `[[1, 2], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1]]`

Nota: 1 punto con listas intensionales, 0.5 sin listas intensionales

In [ ]:
l = [2,5,6,7,1]

# solucion
[ [n for n in range(1,v+1)] for i,v in enumerate(l)]

[[1, 2], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1]]

Entrega:

1) File+Download As (Notebook) para descargar el archivo.
2) Subir el fichero a la entrega del campus